.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.title{
    display: grid;
    place-items: center;
    background: #0092FF;
    color: #fff;
    text-align: center;
}

.gridContainer a{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}

.gridContainer article{
    display: grid;
    place-items: center;
    background: #11111195;
    text-align: center;
    padding: 10px;
    height: 33vh;
    width: 100%;
}

.gridContainer article:hover{
    display: none;
}
